body {
    background-color: #EEE;
    margin-top: 20px;
}

.main {
    min-height: 450px;
}

.whiteBox {
    background-color: #FFF;
    padding: 10px 15px;
    margin: 10px 0;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    min-width: 150px;
}
.header button {
    margin-left:10px;
}
.leave {
    display:none;
}

.playerMsg {
    float: right;
    font-size: 22px;
    overflow: hidden;
    line-height: 42px;
    font-weight: 600;
    color: #444;
    max-width: 140px;
    overflow: hidden;
    white-space: nowrap;
}

.players {
    font-size: 17.5px;
    overflow: hidden;
}
.players a {
    font-size: 12px;
}
.players li {
    padding: 3px 1px;
}
.choice {
    margin-right: 25px;
    margin-bottom: 20px;
}

.logo {
    width: 186px;
}

.playerMesg {

}

.btn-styled {
    background-color: #3498DB;
    border-color: #3498DB;
    max-height: 380px;
    min-width: 350px;
    max-width: 500px;
    border-radius: 4px;
    margin: 10px;
    padding: 10px;
    color: #FFF;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    user-select: none;
    white-space: nowrap;
    padding: 11px 22px;
}

.myChoice {
    background-color: #27AE60;
    border-color: #27AE60;
}

.points {
    width: 50%;
    text-align: center;
}

.name {
    text-align: left;
    margin-right: 150px;
}

.topBar {
    white-space: nowrap;
}

.ed {
    margin: 0;
    padding: 0;
}
